<div class="page-header">
    <h1>All Statuses</h1>
</div>

<%= link_to "New status", new_status_path, class: "btn btn-primary" %>

<% @statuses.each do |status| %>
  <div class="status">
  	<div class="row">
	  	<div class="col-md-1"><%= image_tag status.user.gravatar_url %></div>
	  	<div class="col-md-8">
		  	<span><%= link_to status.user.full_name, user_profile_path(status.user.profile_name) %></span>
		    <p><%= status.content %></p>
		    <span class="meta"><%= link_to time_ago_in_words(status.created_at) + " ago", status %></span>
		    <div class="admin">|  <span><%= link_to "Edit", edit_status_path(status) %></span> | <span><%= link_to "Delete", status , method: :delete , data: { confirm: "Are you sure?"} %></span>
		    </div>
	  	</div>
	  </div>
  </div>
<% end %>
<br />
<br />
<%= link_to "Sign Up", new_user_registration_path, :class => "btn btn-primary sign_out" %>
<%= link_to "Sign In", new_user_session_path, :class => "btn btn-primary sign_out" %>
<%= link_to "Sign out", destroy_user_session_path, :method => :delete, :class => "btn btn-primary sign_out" %>